body {
  color: #ffffff;
  background-image: url('http://cdn.pcwallart.com/images/gradient-background-wallpaper-1.jpg');
  background-position: center;
  background-attachment: fixed;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  margin: 0 auto;
  text-align: center;
}

#apiDoc {
  text-align: center;
}

#newTeamForm {
  text-align: center;
}
#teaminfo{
  font-size: 25px;
}
#teaminfo img {
  width: 80px;
  height: auto;
}
